body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url("images/background.png") no-repeat center center fixed;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  background-size: 100% 100%;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}


body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  width:90px;
  height:90px;
  position:absolute;
  animation-duration: 2s;
  animation-name: bounceIn;
  z-index: 3;
}

.laserpellet{


  width:80px;
  height:40px;
  position:absolute;
  animation-duration: 2s;
  animation-name: bounceIn;
  z-index: 3;
}



.laser{

    width:90px;
  height:90px;
  position:absolute;
  animation-duration: 2s;
  animation-name: bounceIn;
  z-index: 3;

}

.horseNode {
  width:180px;
  height:180px;
  position:absolute;
  animation-duration: 2s;
  animation-name: bounceIn;
  z-index: 1;
}

.threednode{
  position:absolute;
  animation-duration: 2s;
  animation-name: bounceIn;
}

/*@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
<<<<<<< HEAD
}*/

.laser{
  border:0px solid red;
}
